body, html {
  width: 100%;
  height: 100vh;
  background-color: var(--off-white);
  font-family: var(--ff-main);
  font-size: var(--fs-main);
  color: var(--black);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --off-white: hsla(210, 20%, 96%, 1);
  --black: hsl(0, 0%, 0%);
  --primary-blue: hsla(245, 77%, 60%, 1);
  --gray: hsl(0, 0%, 44%);
  --dark-gray: hsl(220, 26%, 14%);
  --red: hsl(0, 94%, 49%);
  font-size: 62.5%; /* 1rem = 10px */
  --ff-main: "Lexend Deca", sans-serif;
  --ff-secondary: "Inter", sans-serif;
  --fs-main: 1.8rem;
  --fw-light: 300;
  --fw-medium: 400;
  --fw-bold: 700;
}

.codelandia {
  width: 100%;
  background: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
  padding: 4.8rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.codelandia-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
}

.codelandia-searchbox-area {
  width: 100%;
}

.codelandia-nav__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.codelandia-nav__logo {
  font-weight: var(--fw-medium);
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.codelandia-nav__blog {
  font-weight: var(--fw-medium);
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.fa-magnifying-glass {
  font-size: 1.5rem;
  color: var(--white);
  position: absolute;
  left: 1rem;
  top: 7.4rem;
  opacity: 0.5;
}

.codelandia-nav__search {
  width: 100%;
  margin-top: 4rem;
  padding: 1.2rem 1.2rem 1.2rem 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: none;
  color: var(--white);
  position: relative;
}

.codelandia-nav__search[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.1rem;
  width: 1.1rem;
  background-image: url(/images/cancel.png);
  background-repeat: no-repeat;
  background-position: center;
  color: var(--white);
}

.codelandia-nav__search[type=search] {
  font-family: var(--ff-secondary);
  font-size: 1.4rem;
  color: var(--white);
  padding-left: 4rem;
}

.codelandia-nav__search::placeholder {
  color: var(--white);
  opacity: 0.5;
}

.codelandia-nav__search:focus {
  outline: 2px solid var(--white);
  opacity: 0.7;
}

.post-area {
  margin: 5rem 2rem;
}

.post-area__container {
  background-color: var(--white);
  padding: 1.5rem;
  margin-bottom: 2.5rem;
}

.post-area__topo {
  display: flex;
  justify-content: space-between;
}

.post-area__date {
  color: var(--dark-gray);
  font-weight: var(--fw-medium);
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.post-area__like-solid {
  color: grey;
  cursor: pointer;
}

.post-area__like-solid:hover {
  color: var(--red);
}

.post-area__title {
  color: var(--dark-gray);
  font-weight: var(--fw-medium);
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-top: 2.7rem;
  margin-bottom: 0.9rem;
}

.post-area__content {
  color: var(--gray);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.codelandia__footer {
  text-align: center;
  font-size: 1.4rem;
}

footer {
  padding: 2rem;
}

@media (min-width: 1280px) {
  .codelandia {
    padding: 4.8rem 27rem;
  }
  .codelandia-nav__logo {
    font-size: 2.4rem;
  }
  .codelandia-nav__blog {
    font-size: 2.4rem;
  }
  .post-area {
    margin: 5rem 27rem;
  }
  .fa-magnifying-glass {
    left: 1rem;
    top: 7.7rem;
  }
  .codelandia-nav__search[type=search] {
    font-size: 1.8rem;
  }
  .post-area__title {
    font-weight: var(--fw-medium);
    font-size: 2.6rem;
    line-height: 3.2rem;
  }
  .post-area__content {
    font-weight: var(--fw-medium);
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
}/*# sourceMappingURL=style.css.map */